.edit-sec{
    width: 93%;
}
.edit-links{
    color: white;
    font-weight: 400;
    font-size: 23px;
}
.edit-links:hover{
    color: rgb(228, 228, 228);
}
.common-btn{
    background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px 0px ;
  width: 120px;
  text-align: center;
  border-radius: 300px;
  border: none;
}
.del{
    background-color: rgb(112, 112, 112);
    color: white;
}
.edit-img{
    width: 250px;
}
input{
    padding: 5px;
    border-radius: 10px;
}
label{
    font-size: 20px;
}
hr{
    border: 2px solid white;
}
.ep-heading{
    font-size: 30px;
    font-weight: 500;
}
.del-acc-text{
    font-size: 24px;
    font-weight: 500;
}
@media only screen and (max-width:991px){
    .nav{
        justify-content: space-between;
    }
}
@media(max-width:786px){
    .edit-img{
        width: 200px;
    }
    label[for="f-name"]{
        font-size: 18px;
    }
    .ep-heading{
        font-size: 25px;
        font-weight: 500;
    }
    .del-acc-text{
        font-size:19px;
        font-weight: 500;
    }
}